@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Rubik:wght@500;600&display=swap');

:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --biru-tua:rgb(0, 43, 91);
    --hijau-muda: rgb(21, 152, 149);
    --hijau-tua:rgb(0, 91, 69);
    --text-color: rgb(32, 31, 29);
    --body-color: rgb(255, 255, 255);
    --container-color: rgb(43, 49, 53);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --title-font: "Lora", serif;
    --subtitle-font: "Dancing Script", cursive;
    --home--font: 'Rubik', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background 0.4s; /* for dark mode animation */
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--title-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 100%;
    margin-inline: 1.5rem;
}  
.main {
    overflow: hidden; /* For the animations */
}
.grid{
    display: grid;
    gap: 1.5rem;   
}
/*=================== LOGIN ==========================*/

/*=================== HEADER ========================== */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding: 1rem 0;
}
.nav{
    position: relative;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    width: 80px;
}
.nav__list{
    display: flex;
    gap: 2rem;
    transition: background .5s;
}
.nav__list :hover{
    color: var(--first-color);
}
.nav__item a{
    font-weight: 600;
}
.nav__icon{
    font-size: 1.5rem;
    cursor: pointer;
}
/*===============DASHBOARD======================*/
.dashboard{
    position: relative;
    padding-top: 5rem;
}
.dashboard__shape{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.dashboard__info{
    background-color: var(--hijau-tua);
    padding: 1rem 2rem;
    border-radius: .8rem;
    color: white;
    cursor: pointer;
}
.dashboard__info i{
    font-size: 5.5rem;
    margin-bottom: 2rem;
}
.info__produk{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-top: 1rem;
}
.info__produk h1{
    font-size: 3rem;
}
.dashboard__tambah{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    gap: 1.5rem;
    color: var(--hijau-tua);
    cursor: pointer;
}
.dashboard__tambah h1{
    font-size: 1.5rem;
}
/*================TAMBAH PRODUK=============*/
.add__section{
    display: flex;
    padding-top: 5rem;
}
.back__tombol{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--hijau-tua);
}
.back__tombol i{
    font-size: 1.5rem;
}
.add__input,.add__form,.input__box{
    display: flex;
}
.add__input{
    padding-top: 2rem;
    width: 1200px;
    justify-content: center;
}
.add__form{
    width: 50%;
    flex-direction: column;
    gap: 1.5rem;
}
.input__box{
    flex-direction: column;
}
.input__box input{
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: solid var(--hijau-tua) 3px;
}
.confirm__button{
    display: flex;
    align-items: center;
    background-color: var(--hijau-tua);
    padding: .85rem 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.confirm{
    display: flex;
    justify-content: center;
    background-color:var(--hijau-tua) ;
}
/*===============MITRA=============*/
.kemitraan__section{
    padding-top: 6rem;
}
.kemitraan{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.kemitraan__jumlah,.kemitraan__surat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--hijau-tua);
    padding: 1rem 2rem;
    border-radius: .8rem;
    color: white;
    cursor: pointer;
}
.kemitraan__jumlah i,.kemitraan__surat i{
    font-size: 4.5rem;
}
.kemitraan__keterangan{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 2rem;
    font-weight: 500;
}
/*============= KEMITRAAN TABLE ============*/
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: var(--hijau-muda);
}
.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.td__detail,.td__status{
    display: flex;
    justify-content: center;
}
.td__{
    background-color: var(--biru-tua);
    border-radius: 1rem;
    color: white;
    width: 50%;
}
/*========= RESPONSIVE =============*/
@media screen and (min-width: 1024px) {
    .container {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
}
@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}